@media (max-width: 1366px) {
    /* header */
    .header-wrapper {
        max-width: 1144px !important;
    }

    .header-logo > img {
        max-width: 150px;
    }

    /* equity */
    .container {
        max-width: 1144px !important;
    }

    .equity {
        overflow: hidden;
    }

    .equity-img {
        width: 45vw;
        left: 117px;
        height: 769px;
    }

    .equity-img > img {
        position: relative;
        left: -185px;
    }

    /* footer */
    .footer-wrapper {
        max-width: 1144px !important;
    }

    .copyright-line {
        max-width: 1144px !important;
    }

    /* digitize */
    .card {
        width: 368px !important;
        height: 314px;
        margin-bottom: 30px;
    }

    .cards-wrapper {
        width: 1144px !important;
    }

    .digitize-card-text {
        width: 261px;
    }

    .card-img {
        max-width: 55px;
        max-height: 55px;
    }

    .triangle-up {
        border-right: 1366px solid transparent;
    }

    .triangle-down {
        border-right: 1366px solid transparent;
    }

    /* blog */
    .news {
        width: 1144px !important;
    }

    .news-card {
        max-width: 368px !important;
    }

    .news-card-img {
        max-width: 368px !important;
    }

    .news .news-card:first-child .news-card-text {
        max-width: 350px;
        min-width: 350px;
    }

    .contact {
        max-width: 1144px;
    }

    #contact-us > .container {
        display: flex;
        justify-content: center;
    }

    .form-item {
        width: 682px !important;
    }

    .form-input {
        width: 562px !important;
    }

    .contact-content {
        margin-right: 90px !important;
    }
}

@media (min-width: 1366px) {
    .container {
        max-width: 1332px !important;
    }
}