@media (max-width: 360px) {
    .header-logo {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .header-logo > img {
        max-width: 150px;
    }

    .header-nav-link:not(:last-child) {
        margin-bottom: 0.31rem;
    }

    .header-wrapper {
        height: 105px !important;
    }
    .burger-menu {
        top: 102px;
    }
    /* equity */
    .equity-content {
        width: 320px !important;
        height: 709px;
        margin-left: 20px;
    }

    .equity-content-headline {
        font-size: 35px !important;
        width: 300px;
        white-space: normal !important;
        padding-bottom: 0 !important;
    }

    .equity-content-text {
        font-size: 22px !important;
        line-height: 25px !important;
        width: 300px;
        padding-bottom: 28px !important;
        padding-top: 18px !important;
        top: 0 !important;
        left: 0 !important;
    }

    .equity-content-btn {
        max-width: 300px !important;
        top: 0 !important;
        left: 0 !important;
    }

    .mobile-img > img {
        left: -85px;
        width: 500px;
    }

    /* digital-securities */
    .digital-text {
        width: 320px !important;
    }

    .digital-text br:first-child {
        display: block !important;
    }

    .digital-text br:last-child {
        display: block !important;
    }

    .digital-cards-wrapper {
        margin-bottom: 0 !important;
    }

    .card-text {
        font-size: 18px !important;
    }

    .form {
        max-width: 320px;
    }

    .form-email {
        min-width: 320px !important;
    }

    .form-btn {
        min-width: 320px !important;
    }

    /* lozung */
    .lozung > .container {
        display: flex;
        justify-content: center;
    }

    .lozung p {
        width: 320px;
        font-size: 22px;
    }

    .lozung-subtext {
        font-size: 20px;
    }

    /* digitize your business */
    .cards-wrapper {
        width: 320px !important;
    }

    .card {
        width: 320px !important;
        height: 228px !important;
    }

    .card:not(:last-child) {
        margin-bottom: 15px !important;
    }

    .card-img {
        max-width: 60px !important;
        max-height: 60px !important;
    }

    .digitize-card-text {
        font-size: 18px !important;
    }

    .business-headline {
        font-size: 35px !important;
        padding-bottom: 0 !important;
        margin-bottom: 0;
        background-color: #fff;
    }

    .triangle-up {
        border-right: 360px solid transparent;
        border-bottom: 15px solid rgba(196, 196, 196, .1) !important;
    }

    .triangle-up-hd {
        display: none;
    }

    .triangle-up-mb {
        display: block !important;
        background-color: #fff;
    }

    .triangle-down {
        border-right: 360px solid transparent;
        border-bottom: 15px solid rgba(196, 196, 196, .1) !important;
    }

    .cards-wrapper {
        padding-bottom: 10px;
        padding-top: 30px;
        overflow: hidden;
        width: 360px !important;
        justify-content: center;
    }

    .digitize-card-headline {
        font-size: 22px !important;
        line-height: normal !important;
        margin-bottom: 5px !important;
        margin-top: 10px !important;
    }

    /* blog */
    .blog {
        width: 360px !important;
    }

    .news-card-text {
        width: 320px !important;
        font-size: 18px !important;
    }

    .news {
        max-width: 320px !important;
        flex-direction: column !important;
    }

    .news-card-img {
        width: 320px !important;
    }

    .news-card {
        padding: 0 !important;
    }

    /* contact us */
    .contact-form {
        max-width: 350px !important;
        width: 350px !important;
        margin-left: 10px;
    }

    .contact-headline {
        margin-left: 16px !important;
    }

    .contact-text {
        width: 320px !important;
        max-width: 320px !important;
        margin-left: 16px !important;
    }

    .contact-form {
        width: 320px !important;
        margin-left: 13px !important;
        margin-top: 11px;
    }

    /* footer */
    .footer-wrapper {
        max-width: 320px !important;
        margin: 0 !important;
    }

    .copyright-line {
        max-width: 360px !important;
    }

}